<script type="text/javascript">

</script>

<div class="row, render-chart-here"></div>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Cube</th>
            <th>Coordinates</th>
            <th>Variable</th>
            <th>Time</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="artifact in artifacts">
            <td>{{artifact.cubeCoordinates.cubeName}}</td>
            <td>
                <div ng-repeat="dim in artifact.cubeCoordinates.profile">{{dim}}</div>
            </td>
            <td>{{artifact.cubeCoordinates.varName}}</td>
            <td>{{artifact.timeStart}}</td>
            <td>{{artifact.name}}</td>
            <td>{{artifact.description}}</td>
            <td>
                <!--<div display="none" id="artifa">{{artifact}}</div>-->
                <button  type="button"  ng-click="showChartForArtifact(artifact);" class="btn btn-default">Chart</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>